body{
    background: url(../imagenes//The\ martian\ wallpaper\ 5.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
.intro{
    margin-top: 10px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
}
.formulario{
    border: 3px solid rgb(51, 50, 50);
    background-color: rgba(255, 255, 255, 0.534);
}
.footer{
    background: rgba(0, 0, 0, 0.945);   
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
}
 .pie{  
    margin-top: 10px;      
    font-size: 11px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;   
  }
  .pie a{
   color:#fff;
   text-decoration: none;
   font-size: 13px;
   margin-bottom: 5px; 
  }
  .pie a:hover{
   color:#343434;
  }
